body { 


  text-align: center;
  background: linear-gradient(to bottom, #fff, 42%, #73E8CD 61%);
    -webkit-user-select: none;
    touch-action: manipulation;
    height: 100vh;
    width: 100vw;
    background-color: #73E8CD;
    overflow: hidden;
    font-family: din-round, sans-serif;
    margin: 0%;
  }

  #backgroundimg{

    border-bottom-right-radius: 13vh;
    height: 57%;

    background-repeat: no-repeat;
    background-size: contain;
    border-bottom-left-radius: 13vh;
  }


#formLogin { 
  width: 100%;
    position: absolute;
    bottom: 25%;
    text-align: center;
  
}

input {
  border-width: 0px;
  border-radius: 10vh;
  text-align: center;
  display: block;
  font-size: 2vh;
  width: 80%;
  margin: auto;
  padding: 2vh;
  
}
form {
  text-align: center;
}

#email{
  margin-bottom: 1%;
}
#password{
  margin-bottom: 2%;
}

#submitDetails{ 
  width: 37%;
  border-style: solid;
    border-radius: 10vh;
    border-width: 0 0 0.5vh;
    background-color: #bcf9ff;
    border-color: white;
    padding: 3%;
    text-decoration: none;
    -webkit-user-select: none;
}


input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}
